@import "../main.css";

.links-aside {
  height: 50%;
  width: 20%;

  position: absolute;
  top: 30em;
  left: 10em;

  display: flex;
  flex-direction: column;
}

.about-emoji {
  display: inline-block;
  width: 1.7em;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  width: var(--content-width);
}

.side-by-side #left, .side-by-side#right {
  width: 50%;
}
