@media (prefers-color-scheme: light) {
  html {
    --color-fg: #111;
    --color-bg: #fff;
    --icon-filter: none;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --color-fg: #ddd;
    --color-bg: #181617;
    --icon-filter: invert(94%) sepia(0%) saturate(24%) hue-rotate(360deg) brightness(90%) contrast(107%);
  }

  /* This is for the alt-text */
  a:has(img),
  a:has(img):hover {
    color: var(--color-bg);
  }
}

html {
  height: 100%;
  color-scheme: light dark;
  font-size: 16px;
  font-family: sans-serif;
  color: var(--color-fg);
  background: var(--color-bg);
}

body {
  height: 100%;
  margin: 0;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

/* This should be a generic responsive container */
.post {
  max-width: min(70ch, 100% - 2.5em);
  margin-inline: auto;

  p {
    line-height: 1.5;
  }
}

article {
  flex-grow: 1;
}

footer {
  padding: 3mm 0;
  font-size: 0.9em;
  filter: brightness(0.6);
}

@media (max-width: 500px) {
  section#profile {
    flex-direction: column;
    text-align: center;
  }
}

section#profile {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;

  .v-center {
    align-items: center;
  }

  .h-center {
    justify-content: center;
  }
}

.row {
  display: flex;

  .v-center {
    justify-content: center;
  }

  .h-center {
    align-items: center;
  }
}

.center {
  align-items: center;
  justify-content: center;
}

.gap08 {
  gap: .8rem;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.gap5 {
  gap: 5rem;
}

#accounts {
  a {
    margin: auto 0;

    img {
      width: 2.5rem;
      filter: var(--icon-filter);
    }
  }
}

.no-select {
  user-select: none;
}

/* Structure of a quotation. Blockuote may contain multiple paragrpahs
   - div.quote
     - blockquote
     - span
       - cite */
.quote {
  border-left: var(--color-fg) solid .2em;
  display: flex;
  flex-direction: column;
  gap: .7em;
  padding: .5em 0 .5em 1em;
  font-family: serif;
  margin: 0 2em;

  blockquote {
    font-style: italic;
    font-size: 1.1em;
    margin: 0;
  }
}
