@media (prefers-color-scheme: light) {
  :root {
    --color-fg: #121415;
    --color-fg-active: #000;
    --color-fg-dim: #444;
    --color-bg: #fafafa;
    --icon-filter: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: #fafafa;
    --color-fg-active: #fff;
    --color-fg-dim: #bbb;
    --color-bg: #121415;
    --icon-filter: invert(94%) sepia(0%) saturate(24%) hue-rotate(360deg) brightness(104%) contrast(107%);
  }

  a:has(img),
  a:has(img):hover {
    color: var(--color-bg);
  }
}

:root {
  --content-width: 40em;
  font-size: 16px;
  font-family: sans-serif;
  color: var(--color-fg);
  background: var(--color-bg);
  height: 100%;
}

@media (max-width: 700px) {
  :root {
    --content-width: 90vw;
  }
}

::selection {
  background: var(--color-fg);
  color: var(--color-bg);
}

body {
  margin: 0 auto;
  width: var(--content-width);
  height: 100%;
}

.col {
  display: flex;
  flex-direction: column;

  .v-center {
    align-items: center;
  }

  .h-center {
    justify-content: center;
  }
}

.row {
  display: flex;

  .v-center {
    justify-content: center;
  }

  .h-center {
    align-items: center;
  }
}

.center {
  align-items: center;
  justify-content: center;
}

.gap08 {
  gap: .8rem;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.gap5 {
  gap: 5rem;
}

#accounts {
  a {
    margin: auto 0;

    img {
      width: 2.5rem;
      filter: var(--icon-filter);
    }
  }
}

.no-select {
  user-select: none;
}
